{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}

<div style="display: flex;">
<div class="col-4">
  {% if user.Status == "User" %}
  <div class="container" style="text-align: center; align-items: center; margin-top: 50px;  width: 350px;">
    <div><h1>Register as a Creator</h1></div><br><br>
    <form action="/registercreator" method="POST">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">UserName</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% else %}
<div style="margin-left: 50px; margin-right: 100px;">
  <h3>Go to Creator Dashboard</h3>
<div >  <a href="/registercreator" type="button" class="btn btn-primary">Creator dashboard</a></div>
</div>
{% endif %}
</div>


<div class="col-6">
    {% for song in songs %}
    <div style="display: flex;" class="col-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <strong>{{song.Name}}</strong>
          </div>
        </div>
        <div class="row">
          <div class="col">
           <strong> {{song.Artist}}</strong>
          </div>
        </div>
         <div class="row">
          <div class="col">
            <strong>{{song.Genre}}</strong>
          </div>
        </div>
        <div class="row">
          <div class="col">
           <strong> {{song.Rating}} <img style="width: 20px;" src="/static/images/star.png" alt=""></strong>
          </div>
        </div>
      </div>

      <div style="display: flex;" class="col-4">
       <div> <audio controls>
        <source src="{{ url_for('static', filename= song.Song_path) }}" type="audio/mp3">
    </audio>
  </div>
     <div>
      <a class="btn btn-primary btn-sm mx-1" data-bs-toggle="modal" data-bs-target="#lyricsModal{{song.Song_id}}">lyrics</a>         
     </div>


     <div class="modal fade" id="lyricsModal{{song.Song_id}}" tabindex="-1" aria-labelledby="lyricsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="lyricsModalLabel">Lyrics</h5>
          </div>
          <div class="modal-body">
            <p id="lyricsText">{{song.Lyrics}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



     <div>
      <a class="btn btn-primary btn-sm mx-1" data-bs-toggle="modal" data-bs-target="#playlistModal{{song.Song_id}}">+save</a>         
     </div>

     <div class="modal fade" id="playlistModal{{song.Song_id}}" tabindex="-1" aria-labelledby="lyricsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="lyricsModalLabel">Playlists</h5>
          </div>
          <div class="modal-body">

            <form action="/playlist/{{song.Song_id}}" method="POST">
              <div class="mb-3">
                <label  class="form-label"><strong>Playlist Name</strong></label>
                <input type="name" class="form-control" name="name" id="playlistname" aria-describedby="emailHelp">
              </div>
          <div>
            {% for p in playlist %}
           <div>
            <td> <input type="radio" class="form-check-input" value="{{ p.Playlist_id }}" name="playlist">{{p.Name}} </td>
           </div>
            {% endfor %}
          </div>
          <br>
            <button type="submit" class="btn btn-primary" >save</button>
            </form>
          </div>
        </div>
      </div>
    </div>



     <div>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle btn-sm mx-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Rate
        </a>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/rate/1/{{song.Song_id}}">1</a></li>
          <li><a class="dropdown-item" href="/rate/2/{{song.Song_id}}">2</a></li>
          <li><a class="dropdown-item" href="/rate/3/{{song.Song_id}}">3</a></li>
          <li><a class="dropdown-item" href="/rate/4/{{song.Song_id}}">4</a></li>
          <li><a class="dropdown-item" href="/rate/5/{{song.Song_id}}">5</a></li>
        </ul>
      </div>
     </div>
      </div>
    </div>
    <br>
    {% endfor %}
  </div>

<div style="text-align: center;">
  <h2>Playlists</h2>
  {% for p in playlist %}
  <div>
    {{p.Name}} <a class="btn btn-primary btn-sm mx-1" href="/playlist_go/{{p.Playlist_id}}">Go</a>
  </div>
  <br>
  {% endfor %}
</div>

</div>




{% endblock body %}
